* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Scheherazade New', serif;
    overflow: hidden;
}

.bg {
    background-color: #302D2D;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -5;
    width: 100%;
}

.main-img {
    margin: 30px 0;
}

.back {
    position: absolute;
    top: 10px;
    left: 10px;
    background: linear-gradient(90deg, rgba(75, 65, 44, 0.853) 0%, rgba(165, 117, 21, 0.867) 100%);
    text-align: center;
    padding: 0 35px;
    font-size: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back a {
    text-decoration: none;
    color: white;
}

.flex {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.flex .container {
    height: 80%;
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex .container img {
    width: 120px;
}

.flex .container h1 {
    color: white;
    padding: 5px 140px;
    border-radius: 40px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, rgba(75, 65, 44, 0.853) 0%, rgba(165, 117, 21, 0.867) 100%);
}

.flex .container .info {
    width: 90%;
    background: linear-gradient(90deg, rgba(75, 65, 44, 0.853) 0%, rgba(165, 117, 21, 0.867) 100%);
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    direction: rtl;
    padding: 20px;
}

.flex .container .info span {
    width: calc(100% / 3 - 20px);
    text-align: center;
    padding: 35px 0;
    margin: 0px 10px;
    color: white;
    font-size: 18px;
}

.flex .container .info span h2 {
    display: inline;
    margin-left: 20px;
    font-size: 30px;
}

.flex .container .info span h3 {
    display: inline;
    font-size: 30px;
}

.flex .container .info div {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 160px;
}

.flex .container .info div .percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
    padding: 0;
    margin-right: -40px;
}

.flex .container .info div .percentage span {
    line-height: 1.5;
    position: relative;
}

.flex .container .info div .percentage span::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    background: #b47420;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex .container .info div .percentage h4 {
    font-size: 25px;
}

.flex .container .info div .percentage h5 {
    font-size: 25px;
}

.flex .container .info div .percentage h2 {
    font-size: 30px;
}

.parent-number {
    position: absolute;
    width: 304px;
    left: 10px;
    bottom: 10px;
    color: white;
    text-align: center;
    padding: 5px 50px;
    border-radius: 40px;
    background: linear-gradient(90deg, rgba(75, 65, 44, 0.853) 0%, rgba(165, 117, 21, 0.867) 100%);
}

.personal-number {
    position: absolute;
    text-align: center;
    right: 10px;
    bottom: 10px;
    width: 304px;
    padding: 5px 50px;
    background: linear-gradient(90deg, rgba(75, 65, 44, 0.853) 0%, rgba(165, 117, 21, 0.867) 100%);
    color: white;
    border-radius: 40px;
}

@media (max-width: 1535px) {
    .flex .container .info div {
        padding: 0 50px;
    }
}

@media (max-width: 1250px) {
    .flex .container .info div .percentage h2 {
        font-size: 25px;
    }
    .flex .container .info div .percentage h4 {
        font-size: 20px;
    }
    .flex .container .info div .percentage h5 {
        font-size: 20px;
    }
    .flex .container .info {
        width: 100%;
    }
}

@media (max-height: 1000px) {
    .bg {
        height: 100%;
    }
}

@media (max-width: 975px) {
    .flex .container .info {
        width: 110%;
    }
    .flex .container .info span h2 {
        margin-left: 20px;
        font-size: 20px;
    }
    .flex .container .info span h3 {
        display: inline;
        font-size: 22px;
    }
    .flex .container .info div .percentage h4 {
        font-size: 20px;
    }
    .flex .container .info div .percentage h5 {
        font-size: 20px;
    }
    .flex .container .info div .percentage h2 {
        font-size: 20px;
        white-space: nowrap;
    }
}

@media (max-width: 630px) {
    .flex .container .info {
        width: 110%;
        padding: 10px;
    }
    .flex .container h1 {
        padding: 0 90px;
    }
    .flex .container img {
        width: 80px;
    }
    .flex .container .info span h2 {
        margin-left: 10px;
        font-size: 17px;
    }
    .flex .container .info span h3 {
        display: inline;
        font-size: 18px;
    }
    .flex .container .info div .percentage h4 {
        font-size: 18px;
    }
    .flex .container .info div {
        padding: 0 0px;
    }
    .flex .container .info div .percentage h5 {
        font-size: 18px;
    }
    .flex .container .info div .percentage h2 {
        font-size: 17px;
        white-space: nowrap;
    }
    .personal-number {
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
    }
    .parent-number {
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        bottom: 72px;
    }
}

@media (max-width: 575px) {
    .flex .container h1 {
        padding: 0 90px;
        font-size: 20px;
    }
    .back {
        font-size: 25px;
    }
    .back a {
        font: 25px;
    }
}

@media (max-width: 510px) {
    .flex .container .info {
        width: 110%;
        padding: 0;
    }
    .flex .container h1 {
        padding: 0 90px;
    }
    .flex .container img {
        width: 80px;
    }
    .flex .container .info span h2 {
        margin-left: 10px;
        font-size: 17px;
        display: block;
    }
    .flex .container .info span h3 {
        display: inline;
        font-size: 18px;
    }
    .flex .container .info div .percentage h4 {
        font-size: 18px;
    }
    .flex .container .info div {
        padding: 0 0px;
    }
    .flex .container .info div .percentage h5 {
        font-size: 18px;
    }
    .flex .container .info div .percentage h2 {
        font-size: 17px;
        white-space: nowrap;
        margin: 0;
    }
    .flex .container .info span {
        margin: 0;
        width: calc(100% / 3);
    }
    .flex .container .info div {
        justify-content: space-around;
        padding: 0 5px;
    }
}

@media (max-width: 400px) {
    .flex .container .info div .percentage h2 {
        font-size: 15px;
        white-space: pre-wrap;
        margin: 0;
    }
    .flex .container h1 {
        padding: 0 40px;
    }
    .flex .container img {
        width: 60px;
    }
    .container {
        margin-top: 50px;
    }
}

@media (max-width: 430px) {
    .nav .logo img {
        width: 30px;
    }
    .nav .logo h1 {
        font-size: 16px;
    }
    .nav a {
        font-size: 16px;
        margin-top: 0;
        width: 90px;
    }
    .flex .card .info div:last-child,
    .flex .card .info div:nth-child(5) {
        gap: 10px;
    }
    .info div h1:last-child::before,
    .info div h1:nth-child(5)::before {
        right: -24px;
        width: 15px;
    }
    .flex .card .info {
        height: 20%;
    }
    .flex .card .info div:last-child h2,
    .flex .card .info div:nth-child(5) h2 {
        font-size: 14px;
    }
    .info div h1 {
        font-size: 12px;
    }
    .info div span h2 {
        font-size: 12px;
    }
    .info div h3 {
        font-size: 12px;
    }
    .info-2 {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .nav {
        padding: 0 10px;
    }
    .nav .logo img {
        width: 20px;
    }
    .nav .logo h1 {
        font-size: 16px;
    }
    .nav a {
        font-size: 14px;
        margin-top: 0;
        width: 70px;
    }
}

@media (max-width: 390px) {
    .nav {
        height: 80px;
        width: 96%;
    }
    .nav .logo img {
        width: 30px;
    }
    .nav .logo h1 {
        font-size: 16px;
    }
    .nav a {
        font-size: 16px;
        margin-top: 0;
    }
}

@media (max-width: 360px) {
    .nav .logo img {
        width: 30px;
    }
    .nav .logo h1 {
        font-size: 18px;
    }
    .nav a {
        font-size: 17px;
        margin-top: 0;
    }
}

@media (max-width: 1020px) {
    .bg img:nth-child(2) {
        width: 65%;
    }
}

@media (max-width: 770px) {
    .bg img {
        width: 50%;
    }
    .bg img:nth-child(2) {
        width: 80%;
    }
}

@media (max-width: 550px) {
    .bg img {
        width: 50%;
    }
}

@media (max-width: 414px) {
    .bg img {
        width: 60%;
    }
}